@import url('https://fonts.cdnfonts.com/css/valorant');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Valorant', sans-serif;
  background-color: #0c0c0c;
  color: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

body.scroll-lock {
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #1e1e1e;
}

.Armas {
  width: 30%;
  background-color: #161616;
  border-radius: 8px;
  padding: 1rem;
  overflow-y: scroll;
  max-height: 80vh;
}

.dDescArma {
  text-align: center;
  flex: 1;
  background-color: #232323;
  border-radius: 8px;
  padding: 1rem;
  overflow-y: scroll;
  justify-self: center;
  align-items: center;
  max-height: 80vh;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #fff;
  border-bottom: 1px solid #888;
  border-radius: 8px;
}

h3 {
  text-align: center;
  font-size: 1rem;
  margin-top: 1rem;
  color: #888;
  border-top: 1px solid #ccc;
  border-radius: 8px; 
}

p {
  font-size: 0.9rem;
  color: #ccc;
  border: 1px solid #444;
  padding: 0.5rem;
  border-radius: 8px; 
}

.card {
  background-color: #333;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h3 {
  font-size: 1rem;
}

.card p {
  font-size: 0.9rem;
}

.Armas::-webkit-scrollbar,
.dDescArma::-webkit-scrollbar {
  width: 10px;
}

.Armas::-webkit-scrollbar-thumb,
.dDescArma::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.Armas::-webkit-scrollbar-thumb:hover,
.dDescArma::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.img {
  object-fit: contain;
  max-width: 100%;
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid #444;
  border-radius: 4px;
}

.Armas:hover {
  cursor: pointer;
}

#imgArma {
  max-width: 100%;
  object-fit: contain;
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid #444;
  border-radius: 4px;
}
